/* Global Styles */
body {
  font-family: "Playfair Display", serif;
  background-color: #f6f6f2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 50px;
}

/* Navigation Bar */
.navbar {
  background-color: #f6f6f2; /* Rich Blue */
  color:#05204a;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 50px;
  color: #293241; /* Light Blue */
}

.collapse {
  font-size: 20px;
}

.nav-link:hover {
  color:#6f8695; /* Teal Green */
}

/* Adjust the spacing between navbar links */
.navbar-nav {
  margin-right: auto;
}

/* Jumbotron */
.jumbotron {
  background-image: url("./image/background.jpeg");
  background-size: cover; /* Adjust background-size property as needed */
  background-repeat: no-repeat;
  padding: 5rem 0;
  text-align: center;
  margin: 0px;
  position: relative;
  height: 80vh;
}

.jumbotron h1 {
  font-size: 70px;
  color: #05204a;
  margin-bottom: 30px;
}

.jumbotron p {
  font-size: 20px;
  color: grey;
  margin-bottom: 40px;
}

.jumbotron a {
  color: #05204a; /* Teal Green */
  text-decoration: underline;
  font-size: 20px;
}

/* Footer */
footer {
  /* margin-top: 60px; */
  padding: 40px 0;
  background-color: #05204a;
  /* Dark Blue */
  color: #edf6f9;
  /* Light Blue */
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

footer p {
  margin: 0;
}

/* Centering Content */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.center-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
